.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__row {
  margin-bottom: 1rem;
  transition: all 0.5s ease;


}
tbody>.table__row{
  cursor: pointer;
  &:hover{
    background-color: rgba($color-light-green, 0.2);
  }
}

.table__item {
  text-align: center;
  padding: 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

